*{
    margin: 0 0 0 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif; color: rgb(36, 158, 19);
	background-color: rgb(243, 117, 180);	/
}

header{
    background-color: #1ee5f3;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.principal{
	background: #CCCCCC;
	padding: 30px;	
}


h1{
    font-size: 45px;
}

nav li{
    font-size: 25px;
    display: inline;
    margin: 0 5px 0 25px;
}

nav a{
    text-decoration: none;
    color: rgba(255, 0, 43, 0.712);
    text-transform: uppercase;
}

