*{
    margin: 0 0 0 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif; color: rgb(111, 10, 194);
	background-color: rgb(243, 117, 180);	/
}

header{
    background-color: #1ee5f3;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.principal{
	background: #fff67cf6;
	padding: 30px;	
    align-items: center;
    justify-content: space-between;

}

h1{
    font-size: 50px;
    text-transform: uppercase;
    margin-top: 0%;
    margin-right: 5%;
   
}

h2{
    font-size: 30px;
    text-align: center;
    margin: 0 5px 0 25px;
   

}

p{
    text-align: justify;
    margin: 0 5px 0 25px;
}


nav li{
    font-size: 20px;
    display: inline-flex;
    margin: 0 5px 0 25px;
}

nav a{
    text-decoration: none;
    color: rgba(255, 0, 43, 0.712);
    text-align: center;
}

