body {

	header {
		background: #36da36;
		padding: 20px 0;
	}
	
	img {
		width: auto;

	.caixa {
		position: absolute;
		width: 940px;
		display: block;
	}
	
	nav {
		position: absolute;
		top: 110px;
		right: 0;
	}
	nav li{
		display: inline;
		margin: 20px;
		font-size: 1em;
	}
	
	nav a {
		text-transform: uppercase;
		color: #ddf50b;
		font-weight: bold;
		font-size: 22px;
		text-decoration: none;
	}
	

.principal{
	background: #6fd3fa;
	padding: 30px;
}

h1 {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #fd2727;
}

.itens {
	font-style: italic
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

h2 {
	text-align: center;
}
ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}